#clientes>div>a>img {
    border-radius: 10px;
}

#tema::before {
    content: url(../img/left.png);
}

#tema::after {
    content: url(../img/right.png);
    background-size: 20px;
    border: solid red 1px;
}