body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Full height image header */

#home {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/styles/img/fundo.jpg");
    width: 100vw;
    height: 100vh;
}

#tema {
    font-size: 40px;
}

.w3-bar .w3-button {
    padding: 16px;
}

#equipe {
    display: flex;
    justify-content: center;
}

#luiz {
    padding: 10px;
    filter: contrast(70%);
    box-shadow: 0 0 10px 0;
    border-radius: 10px;
}

#luiz:hover {
    filter: contrast(100%);
    box-shadow: 0 0 10px 0 blue;
}