@media only screen and (max-width: 900px) {
    #home {
        width: 100%;
    }
    #efeito_letra {
        font-size: 25px !important;
        height: 40px;
        position: absolute;
        width: 21ch;
    }
    #separador {
        display: inline;
        padding: 10px;
    }
    .conectado {
        top: 10px;
        width: 100%;
    }
    .google {
        width: 100%;
    }
    #tema {
        font-size: 20px;
        text-shadow: 1px 1px blue;
    }
}