    @media (max-width: 500px) {
        .entrada1 {
            width: 100%;
            left: -70px;
        }
        .entrada2 {
            width: 100%;
            left: -70px;
        }
        .entrada3 {
            width: 60%;
            color: black;
            left: -70px;
        }
        .entrada4 {
            width: 60%;
            left: -70px;
        }
        .entrada2:invalid {
            color: red;
        }
        .entrada2:valid {
            box-shadow: 0px 0px 2px 1px rgb(10, 12, 148);
        }
        .entrada3:invalid {
            color: red;
            box-shadow: 0px 2px 5px 1px rgb(250, 16, 16);
        }
        .entrada3:valid {
            box-shadow: 0px 0px 2px 1px rgb(5, 117, 11);
        }
        .entrada4:invalid {
            color: red;
            box-shadow: 0px 2px 5px 1px rgb(250, 16, 16);
        }
        .entrada4:valid {
            box-shadow: 0px 0px 2px 1px rgb(117, 5, 93);
        }
        .entrada5:hover {
            color: white;
            background: blue;
            border: solid white 2px;
        }
        .letra1 {
            left: -40px;
        }
        .letra2 {
            left: -40px;
        }
        .letra3 {
            left: -40px;
        }
        .letra4 {
            left: -40px;
        }
    }